.tba
  text-align: center
  font-size: 40px
  min-height: 53vh
  font-weight: bold
  margin-top: 50px

.designer_detail
  padding: 0px
  .designer_detail_image
    width: auto
    height: 211px
  .designer_detail_information
    text-align: center
    margin: 20px
    .designer_detail_information_title
      font-size: 20px
      line-height: 23px
      color: #F49A00
    .designer_detail_information_description
      margin: 5px
      padding: 5px
      font-size: 14px
      line-height: 16px
      border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    .designer_detail_information_details
      display: flex
      justify-content: center
      .designer_detail_information_details_1
        margin-right: 120px
        .designer_detail_information_details_1_type
          margin-top: 20px
          display: flex
          .designer_detail_information_details_1_type_icon
            margin-right: 25px
        .designer_detail_information_details_1_location
          margin-top: 20px
          display: flex
          .designer_detail_information_details_1_location_icon
            margin-right: 20px
      .designer_detail_information_details_2
        .designer_detail_information_details_2_email
          margin-top: 20px
          display: flex
          .designer_detail_information_details_2_email_icon
            margin-right: 20px
        .designer_detail_information_details_2_web
          margin-top: 20px
          display: flex
          .designer_detail_information_details_2_web_icon
            margin-right: 20px
            
  .desinger_detail_projects
    margin: 100px 200px
    .designer_detail_projects_title
      font-size: 20px
      line-height: 23px
      color: #F49A00
      border-bottom: 2px solid #F49A00
      width: 165px
      padding: 10px 50px
    .designer_detail_projects_list
      margin-top: 80px
      display: flex
      flex-wrap: wrap
      justify-content: space-evenly
      width: 100%
      padding: 0 100px
      .designer_detail_projects_list_item
        width: 300px
        margin-bottom: 32px
        .designer_detail_projects_list_item_image
          margin-bottom: 16px 
          height: 250px
          position: relative
        .designer_detail_projects_list_item_title
          text-align: center
          margin-bottom: 12px
          font-weight: 300
          font-size: 18px
          color: #000
          line-height: 30px
          cursor: pointer
          &:hover
            color: #F49A00
            text-decoration: underline
    
        