.designer_detail
  display: block
  width: 600 px
  padding: 50px 100px
  .designer_information 
    display: flex
    // height: 400px
    .designer_information_image
      margin-right: 20px
      img
        width: 750px
        height: auto
    .designer_information_detail
      .designer_information_detail_title
        font-size: 24px
      p
        padding: 5px
        font-size: 20px
        line-height: 24x
        ul 
            list-style: none
            li
              margin-bottom: 8px
              &:last-child
                margin-bottom: 0
            li::before 
              content: "\2022"
              color: #F49A00
              font-weight: bold
              display: inline-block
              width: 1em
              margin-left: -1em

  .design_sum_information
    display: flex
    font-size: 20px
    .summary
      margin-left: 20px
      font-size: 24px 
  .designer_furniture
    width: 750px
    th
      padding: 20px 40px 10px
    td
      padding: 20px 40px 10px
    table
      display: block
      .furniture_details
        display: block;
        max-height: 300px;
        overflow-y: scroll;

.carousel-item
  height: 500px