.tba
  text-align: center
  font-size: 40px
  min-height: 53vh
  font-weight: bold
  margin-top: 50px

.designer
  display: flex
  margin: 55px
  justify-content: center
  .list
    .designer_title
      margin: 20px
      font-weight: 500
      font-size: 28px
      line-height: 20px
    .designer_filter
      margin: 20px
      display: flex
      button
        border-radius: 10px
        border: 3px solid
        margin: 20px
        justify-content: center
      .button_search
        button
          color: #F49A00
          border-color: #F49A00
             
    .designer_list
      margin: 20px
      .designer_list_item
        display: flex
        margin: 20px
        border-bottom: 1px solid rgba(0, 0, 0, 0.1)
        img 
          width: 220px
          height:
        .designer_list_item_picture
          margin: 20px
        .designer_list_item_content
          margin: 20px
          .designer_list_item_content_title
            font-weight: 500
            font-size: 28px
            line-height: 20px
            color: #F49A00
          .designer_list_item_type
            margin-top: 20px
          .designer_list_item_location
            margin-top: 20px
          .designer_list_item_description
            margin-top: 20px
  .top_designer
    .top_designer_title
      display: flex
      margin: 20px
      .top_designer_title_icon
        width: 36px
        height: 37px
      .top_designer_title_name
        font-weight: 500
        font-size: 28px
        line-height: 20px
        margin-top: 6px
        margin-left: 6px
    .top_designer_item
      display: flex
      .top_designer_item_icon
        // display: block
        margin: 15px
        .avatar
          img
            width: 51px
            height: 49px
        .location
          text-align: center
          margin-top: 15px
          img
            width: 28px
            height: 27px
      .top_designer_item_detail
        width: 200px
        padding: 20px
        .top_designer_item_title
          color: #F49A00
          font-weight: 500
          
